nav
{
  display: flex; 
  justify-content: flex-end; 
  margin-bottom: 120px;
  
}

nav a
{
  margin-right:10px;
  
}

.logo
{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}
.recherche
{
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  align-items:center;
  margin-top: 25px;
}

.boutton
{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.clique
{
  background-color: rgb(132, 139, 146);
  margin: 50px;
  margin-top: 30px;
  padding: 10px;
}
  
.gris
{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  order: initial;
  align-items: stretch;
  position: absolute; bottom: 0px; left: 0px; right: 0px;
  padding-left: 15px;
  line-height: 30px;
  background-color: rgb(216,218,220);
}
.france
{
  display: flex;
  flex-direction: row;
  opacity: 1;
  color: black;
  border: 2px solid lightgray;
} 

.deuxrangees
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  opacity: 1;
  color: black;
  border: 2px solid lightgray;
}
a
{
  text-decoration: none; 
  color: rgb(87, 72, 72);
}